### FLIGHT PRICE PREDICTION DATASET

In [360]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

In [361]:
train_df=pd.read_excel('Data_Train.xlsx')
test_df=pd.read_excel('Test_set.xlsx')

In [362]:
train_df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [363]:
df=pd.merge(train_df,test_df,how='outer')
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0
...,...,...,...,...,...,...,...,...,...,...,...
13146,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
13147,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
13148,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
13149,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
13150,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

First we take Date_of_Journey, Here I have day, month and year. So we have already checked that it is in object dtype so first step is to convert into DateTime and then make seperate columns for day, month and year

In [364]:
df.dropna(subset=['Route'], inplace=True)
df.dropna(subset=['Total_Stops'], inplace=True)

In [365]:
df['Duration_hour']=(df['Duration'].str.split(' ').str[0]).str.split('h').str[0]
df.drop(6681,axis=0,inplace=True)
df.drop(13141,axis=0,inplace=True)
df['Duration_hour']=df['Duration_hour'].astype(int)
df['Duration_minute']=((df['Duration'].str.split(' ').str[1]).str.split('m').str[0]).fillna(0).astype(int)
df['Duration']=df['Duration_hour']*60+df['Duration_minute']

In [366]:
df['Arrival_Time']=df['Arrival_Time'].str.split(' ').str[0]
df['Arrival_Hour']=df['Arrival_Time'].str.split(':').str[0].astype(int)
df['Arrival_Minute']=df['Arrival_Time'].str.split(':').str[1].astype(int)

In [367]:
df['Departure_Hour']=df['Dep_Time'].str.split(':').str[0].astype(int)
df['Departure_Minute']=df['Dep_Time'].str.split(':').str[1].astype(int)

In [368]:
# Feture Engineering
df['Date']=df['Date_of_Journey'].str.split('/').str[0].astype(int)
df['Month']=df['Date_of_Journey'].str.split('/').str[1].astype(int)
df['Year']=df['Date_of_Journey'].str.split('/').str[2].astype(int)

In [369]:
source=df['Source'].value_counts().index
label1={}
for i,k in enumerate (source,0):
    label1[k]=i

df['Source']=df['Source'].map(label1)

In [370]:
source2=df['Destination'].value_counts().index
label2={}
for i,k in enumerate (source2,0):
    label2[k]=i

df['Destination']=df['Destination'].map(label2)

In [371]:
source3=df['Airline'].value_counts().index
label3={}
for i,k in enumerate (source3,0):
    label3[k]=i

df['Airline']=df['Airline'].map(label3)

In [372]:
df['Total_Stops'].unique()


label4={
    'non-stop': 0,
    '1 stop':1,
    '2 stops':2,
    '3 stops':3,
    '4 stops':4,
}
df['Total_Stops']=df['Total_Stops'].map(label4)

In [373]:
info=df['Additional_Info'].value_counts().sort_values().index
label5={}

for i,k in enumerate(info,0):
    label5[k]=i


df['Additional_Info']=df['Additional_Info'].map(label5)

In [374]:
df.drop(['Duration_hour','Duration_minute','Arrival_Time','Dep_Time','Date_of_Journey','Route'],axis=1,inplace=True)

In [375]:
df_train=df[~df['Price'].isnull()]
df_test=df[df['Price'].isnull()]

In [376]:
df.isnull().sum()

Airline                0
Source                 0
Destination            0
Duration               0
Total_Stops            0
Additional_Info        0
Price               2453
Arrival_Hour           0
Arrival_Minute         0
Departure_Hour         0
Departure_Minute       0
Date                   0
Month                  0
Year                   0
dtype: int64

In [377]:
X=df_train.drop(['Price'],axis=1)
y=df_train['Price']
df_test.drop(['Price'],axis=1,inplace=True)

C:\Users\Ahemad Abbasi\AppData\Local\Temp\ipykernel_1596\3173762220.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test.drop(['Price'],axis=1,inplace=True)

In [378]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y, train_size=0.8,random_state=0)